@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700;900&family=Outfit:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
  list-style-type: none;
}

:root {
  --brown: hsla(24, 56%, 63%, 1);
  --black: hsla(0, 0%, 8%, 1);
  --gray: hsla(0, 0%, 27%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
  line-height: 0;
}


body {
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Big Shoulders Display', sans sans-serif;
  background-color:var(--white);
}





.heading-xl {
  font: 900 6rem/5.5rem 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-l {
  font: 900 4.375rem/4.375rem 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-m {
  font: 900 3.75rem/3.75rem 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-s {
  font: 900 2.25rem/2.25rem 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.body-m {
  font: 300 1.125rem/2rem 'Outfit', sans-serif;
  color: var(--gray);
}

.body-m-white {
  font: 300 1.125rem/2rem 'Outfit', sans-serif;
  color: var(--white);
}


.body-s {
  font: 300 1.125rem/1.75rem 'Outfit', sans-serif;
  color: var(--gray);
}

.body-xs {
  font: 200 1.125rem/1.5rem 'Outfit', sans-serif;
  color: var(--white);
  max-width: 23.125rem;
}

.white {
  color: var(--white);
}

.brown {
  color: var(--brown);
}

.btn {
  display: flex;
  max-width: 16.25rem;
  z-index: 1;
  background-color: var(--black);
  justify-content: flex-end;
}

.btn-2 {
  display: flex;
  max-width: 16.25rem;
  z-index: 1;
  background-color: var(--black);
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
  top: 0;
  flex-direction: row-reverse;
}

.btn-link {
  padding: 1.5rem 2.1875rem;
  font: 600 1.25rem/1.5rem 'Big Shoulders Display', sans-serif;
  letter-spacing: 0.2rem;
  color: var(--white);
  text-transform: uppercase;
}


.arrow-right,
.arrow-left {
  padding: 1rem;
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.btn:hover,
.btn-2:hover {
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.arrow-right,
.arrow-left {
  padding: 1rem;
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: var(--black);
  transition: all ease 0.3s;
}

.btn-link:hover~.arrow-right {
  background-color: var(--black);
  transition: all ease 0.3s;
}



.arrow-right img,
.arrow-left img {
  padding: 0.625rem;
}





header {
  background: linear-gradient(270deg, #FFFFFF 50%, hsla(0, 0%, 8%, 1) 50%);
}



.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding-inline: 1.25rem;
}

.hero-section {
  display: flex;
  padding-block: 11.875rem 18.75rem;
  margin-bottom: 11.25rem;
  background-repeat: no-repeat;
  background-image: url(./assets/desktop/image-hero.jpg);
  background-position: 54.1% 53%;
  justify-content: space-between;
}



.h1-heading {
  max-width: 28.125rem;
  mix-blend-mode: difference;
  color: var(--white);
}

.hero-paragraph {
  max-width: 18.75rem;
}




.grid {
  display: grid;
  gap: 1.875rem;
  margin-block: 11.25rem;
  max-width: 100%;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    't1 t2 t2'
    'l1 l1 r1'
    'l1 l1 r2';
  transition: all ease 0.5s;
}

.top-feature-left {
  display: flex;
  flex-direction: column;
  padding: 3.125rem;
  gap: 2rem;
  background-color: #fffefe;
  grid-area: t1;
}

.top-feature-right {
  display: flex;
  grid-area: t2;
  max-width: 100%;
  overflow: hidden;
}

.left-feature {
  display: flex;
  grid-area: l1;
  max-width: 100%;
  overflow: hidden;
}

.right-feature-1 {
  display: flex;
  grid-area: r1;
  max-width: 100%;
  overflow: hidden;
}

.right-feature-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: r2;
  max-width: 100%;
  padding: 3.125rem;
  background-color: var(--black);
}




footer {
  background-color: var(--black);
  padding-block: 3.5rem;
}

.flex {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  align-items: flex-start;
}

.social,
.social-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
}



.social svg {
  display: flex;
  height: 1.875rem;
  width: 1.875rem;
  fill: white;
  gap: 2.5rem;
}


.social-2 svg {
  display: flex;
  height: 1.875rem;
  width: 1.875rem;
  fill: white;
  gap: 2.5rem;
}



.bg {
  background-color: var(--black);
}

.adress p {
  color: white;
  max-width: 33.75rem;
  font: 200 1.125rem/1.5rem 'Outfit', sans-serif;
  color: var(--white);
}

.adress {
  display: flex;
  gap: 2.5rem;
  padding-block: 5.625rem;
  justify-content: space-between;
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.logo path,
.logo-2 path {
  display: flex;
  padding: 1.875rem;
  width: 25rem;
  fill: var(--white);
}


.logo {
  object-fit: initial;
  width: 10rem;

}
